.accendi {
  background-color: yellow;
  border-radius: 5em;
  border: 13em;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  

}

.spenta {
    background-color: rgb(188, 188, 182);
  border-radius: 5em;
  border: 13em;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  
   
}

body {
    background-color: azure;
}


